/* RESET */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
/* COMMON */

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: white;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #141922;
    overflow: hidden;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
}

/*--/COMMON */


/*-- MAIN */
main {
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
}
    /* NAVIGAZIONE */
nav {
    width: 200px;
    height: 100%;
    background-color: black;
    float: left;
    overflow: hidden;
    padding: .5em;
}
        /* Side-Bar */

        /* Side-Bar-Top */
.side-bar-top {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
}


.logo img {
    width: 70%;
    padding: .5em 0;
}


.menu-icons {
    padding: 0 2px;
    line-height: 1.5em;
    color: #a3a3a3;;

}

.menu-icons img {
    width: 10%;
    vertical-align: middle;
}
.menu-icons span {
    vertical-align: middle;
    font-weight: bold;
    font-size: .7em;
}
            /* Playlist */
.playlist {
    overflow: hidden;
    flex-grow: 1;
}

.playlist h2 {
    text-transform: uppercase;
    font-size: 1em;
    padding: 0.5em 0;
}
.crea-playlist {
    color: #a3a3a3;
    margin-bottom: .6em;
}
.crea-playlist i{
    font-size: 2em;
    vertical-align: middle;
}
.crea-playlist span {
    font-size: .9em;
}

.playlist ul {
    list-style: none;
    line-height: 2em;
    font-size: .8em;
    height: 80%;
    overflow-y: auto;
}

        /* Side-Bar-Bottom */
.side-bar-btm {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100px;
    padding-bottom: .3em;
}
.setup-app {
    border-bottom: 2px solid grey;
    padding-bottom: 0.5em;
    margin-bottom: .8em;
}
.side-bar-btm img {
    width: 1em;
    vertical-align: middle;
}
.side-bar-btm span {
    font-size: .8em;
    vertical-align: middle;
}

.profile img {
    background-color: gray;
    border-radius: 100%;
}

    /* NAVIGAZIONE */

    /* SECTION */
section {
    width: calc(100% - 200px);
    height: 100%;
    padding: 110px 20px 20px;
    float: left;
    overflow-y: auto;
}
        /* Top-Bar */

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    height: 100px;
    background-color: rgba(0,0,0, .4);
}
        /* Upgrade-Button */

.upgrade-button {
    position: absolute;
    top: 1em;
    right: 2em;
    border: 2px solid white;
    border-radius: 1em;
    padding: 5px 20px 5px;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
}

.section-menu {
    display: flex;
    justify-content: center;
}

.section-menu li {
    margin: 0.5em;
    font-size: .8em;
}
        /* Recent-album */

.album-list {
    display: flex;
}

.album-item {
    width: calc(100% / 6);
    margin-right: 10px;
    font-size: .5em;
    line-height: 2em;
    text-align: center;
}

.album-item img {
    width: 100%;
}





/*--/ MAIN */

/*-- FOOTER */

footer {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #282828;
    justify-content: space-between;
}


.footer-l {
    width: 20%;
}

.track-on {
    display: flex;
    justify-content: space-around;
}

.track-img img {
    width: 100%;
    height: 80px;
    padding: 1em;
    object-fit: contain;
}
.track-text {
    align-self: center;
    font-weight: 700;
    font-size: .8em;
}



.footer-icon {
    align-self: center;
}


.footer-cent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}


.range-bar {
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background-color: lightgrey;
    display: inline-block;
}



.footer-r {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-around;
}





/*--/ FOOTER */




