/* RESET */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
/* COMMON */

  /*--COLORI */

    /* night-blue  */
        /* background-color: #141922; */

    /* grey-footer */
        /* backgroun-color: #282828 */

/*--/COMMON */

/*-- MAIN */


/* prova struttura con flex */

main {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #141922;

}

.top-bar {
    flex-direction: row;
    background-color: blanchedalmond;
}

#upgrade-btn {
    border: 1px solid white;

}

.side-bar {
    width: 200px;
    background-color: black;
}

/* prova struttura*/






/*--/ MAIN */

/*-- FOOTER */

footer {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #282828;
}


.footer-l {
    width: 15%;
    background-color: red;
}

.footer-r {
    width: 15%;
    background-color: yellowgreen;
}

.footer-cent {
    width: 70%;
}





/*--/ FOOTER */




