/* RESET */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
/* COMMON */

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: white;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #141922;
    overflow: hidden;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


  /*--COLORI */

    /* night-blue  */
        /* background-color: #141922; */

    /* grey-footer */
        /* backgroun-color: #282828 */


/*--/COMMON */


/*-- MAIN */


/* prova struttura con flex */

main {
    /* display: flex; */
    width: 100%;
    height: calc(100% - 80px);

}

.main-content {
    width: calc(100% - 200px);
    height: 100%;
}

/* .top-bar {
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    right: 0;
    background-color: blanchedalmond;
} */


.side-bar {
    width: 200px;
    height: 100%;
    background-color: black;
    float: left;
}

/* prova struttura*/






/*--/ MAIN */

/*-- FOOTER */

footer {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #282828;
}


.footer-l {
    width: 20%;
}

.track-on {
    display: flex;
    justify-content: space-around;
}

.track-img img {
    width: 100%;
    height: 80px;
    padding: 1em;
    object-fit: contain;
}
.track-text {
    align-self: center;
    font-weight: 700;
    font-size: .8em;
}

.track-text div:last-child {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.footer-icon {
    align-self: center;
}







.footer-cent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}


.range-bar {
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background-color: lightgrey;
    display: inline-block;
}



.footer-r {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-around;
}





/*--/ FOOTER */




